.event-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.event-page-text {
  display: inline-block;
}
.event-page-text01 {
  display: inline-block;
}
.event-page-text02 {
  display: inline-block;
}
.event-page-text03 {
  display: inline-block;
  text-align: center;
}
.event-page-text04 {
  display: inline-block;
}
.event-page-text05 {
  display: inline-block;
}
.event-page-text06 {
  display: inline-block;
}
.event-page-text07 {
  display: inline-block;
  text-align: center;
}
.event-page-text08 {
  display: inline-block;
}
.event-page-text09 {
  display: inline-block;
}
.event-page-text10 {
  display: inline-block;
}
@media(max-width: 767px) {
  .event-page-text02 {
    text-align: center;
  }
}
