.not-found-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-custom-primary1);
  color: white;
}
.not-found-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-text1 {
  color: white;
  font-size: 252px;
  margin-top: -20px;
  font-weight: 900;
  margin-bottom: -20px;
  letter-spacing: -20px;
}
.not-found-container2 {
  width: 421px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.not-found-text2 {
  text-align: center;
  font-weight: 400;
}

.back-home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--dl-color-custom-secondary1);
  color: var(--dl-color-custom-primary1);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

.back-home-button:hover {
  background-color: var(--dl-color-theme-secondary2);
}