.musical-theare-info-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-neutral-light);
}
.musical-theare-info-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.musical-theare-info-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.musical-theare-info-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.musical-theare-info-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.musical-theare-info-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.musical-theare-info-text {
  fill: var(--dl-color-custom-neutral-dark);
  color: var(--dl-color-custom-neutral-dark);
  font-size: 48px;
  font-family: "Nunito";
}
.musical-theare-info-text1 {
  fill: var(--dl-color-custom-neutral-dark);
  color: var(--dl-color-custom-neutral-dark);
  font-family: "Nunito";
}
@media(max-width: 1600px) {
  .musical-theare-info-text {
    color: var(--dl-color-custom-neutral-dark);
    font-size: 36px;
    font-family: Nunito;
  }
  .musical-theare-info-text1 {
    color: var(--dl-color-custom-neutral-dark);
    font-family: Nunito;
  }
}
@media(max-width: 991px) {
  .musical-theare-info-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
